@import '../../Static/scss/settings/unit';
@import '../../Static/scss/settings/variables';

.o-app-menu {
    position: fixed;
    bottom: 0;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: ds-color('brand-main');
    z-index: 1;
    width: calc(100% - 90px);
    transform: translateX(-100%);
    transition: 200ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }
}