@import '../../Static/scss/settings/unit';
@import '../../Static/scss/settings/variables';
@import '../../Static/scss/tools/mixins';

.c-articles-list {
  padding-left: $grid-column-gutter;
  padding-right: $grid-column-gutter;

  &__title {
    font-weight: bold;
    font-size: rem-calc(24);
    margin-bottom: 0;
  }

  &__articles {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(30); // incase component has shadow
    margin-left: (-$grid-column-gutter);
    margin-right: (-$grid-column-gutter);
    
    // hide scrollbars
    scrollbar-width: none; // new standard
    -ms-overflow-style: none; // IE / Edge

    // Webkit
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__article {
    flex: 0 0 auto;
    width: rem-calc(300);
    padding-left: $grid-column-gutter / 2;
    padding-right: $grid-column-gutter / 2;

    &:first-child {
      padding-left: $grid-column-gutter;
    }

    &:last-of-type {
      padding-right: $grid-column-gutter;
    }
  }
}