@import '../../Static/scss/settings/unit';
@import '../../Static/scss/settings/variables';
@import '../../Static/scss/tools/mixins';

.c-articles-list {
  padding-left: $grid-column-gutter;
  padding-right: $grid-column-gutter;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &__title {
    font-weight: bold;
    font-size: rem-calc(24);
    margin-bottom: rem-calc(20);
  }

  &__link {
    font-size: rem-calc(14);
    color: ds-color('brightness-46');
    text-decoration: none;
    font-weight: normal;
    margin-left: auto;
    margin-bottom: rem-calc(10);

    &:hover {
      text-decoration: underline;
    }
  }

  &__more {
    margin-top: rem-calc(30);
  }

  &__articles {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: (-$grid-column-gutter);
    margin-right: (-$grid-column-gutter);
    
    // hide scrollbars
    scrollbar-width: none; // new standard
    -ms-overflow-style: none; // IE / Edge

    // Webkit
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__article {
    flex: 0 0 auto;
    width: rem-calc(300);
    padding-left: $grid-column-gutter / 2;
    padding-right: $grid-column-gutter / 2;

    &:first-child {
      padding-left: $grid-column-gutter;
    }

    &:last-of-type {
      padding-right: $grid-column-gutter;
    }
  }
}