/// ============================================================================
/// Settings: _variables
/// Contains a number of variables which are used through out the site
/// ============================================================================

/// ============================================================================
/// Local Colors
/// These should only be referenced in this file
/// @access private
/// ============================================================================

$ds-colors: (
  brand-main: #052962,
  brand-dark: #041f4a,
  brand-pastel: #506991,
  highlight-main: #ffe500,
  highlight-dark: #ffbb50,
  brightness-7: #121212,
  brightness-20: #333333,
  brightness-46: #767676,
  brightness-60: #999999,
  brightness-100: #ffffff
);

@function ds-color($key) {
  @if map-has-key($ds-colors, $key) {
      @return map-get($ds-colors, $key);
  }
}

/// ============================================================================
/// Typography
/// Typography related variables
/// @access public
/// ============================================================================
$global-font-size: 62.5%;
$font-size-primary: rem-calc(18);

// Font Sizes
$font-size-heading-one: rem-calc(34);
$font-size-heading-two: rem-calc(30);
$font-size-heading-three: rem-calc(26);
$font-size-heading-four: rem-calc(22);
$font-size-heading-five: rem-calc(20);
$font-size-heading-six: rem-calc(18);
$font-size-small: 80%;

// Font Famlily
$font-family-normal: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-family-secondary: $font-family-normal;


// Line Heights
$line-height-base: 1.7 !default;
$line-height-headings: 1.2 !default;

/// ============================================================================
/// Forms
/// Form elements variables
/// @access public
/// ============================================================================
$global-form-input-border-color: ds-color('brightness-60');
$global-form-input-disabled-color: ds-color('brightness-100');

/// ============================================================================
/// Z Index index
/// $z-stack runs throuyh a list which ouputs numbered order
/// @access public
/// ============================================================================
$z-stack: site, skipToContent, siteHeader, siteMenu, modal;

/// ============================================================================
/// Misc Variables
/// Misc variables which don't have any meaning
/// @access public
/// ============================================================================
$global-border-radius: 4px;
$global-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);

/// ============================================================================
/// Spacing Variables
/// Spacing variables with components etc.
/// @access public
/// ============================================================================
$spacing-large: rem-calc(90);
$spacing-medium: rem-calc(60);
$spacing-small: rem-calc(47);

/// ============================================================================
/// Layout & Grid
/// Variables related to the grid
/// @access private
/// ============================================================================

// Grid Width
$global-width: rem-calc(1300);

// Breakpoint Sizes
$breakpoints: (
  sm: 0,
  md: 640px,
  lg: 1024px,
  xlg: 1200px,
  xxlg: 1440px,
) !default;

// Enabled breakpoints
$breakpoint-classes: (sm md lg) !default;

// The maximum width of a row.
$grid-row-width: $global-width;

// The default column count of a grid. 
// Changing this value affects the grid mixins.
$grid-column-count: 12 !default;

// The amount of space between columns at different screen sizes. 
// Pixels are converted to Rem
$grid-column-gutter: rem-calc(20);

// If `true`, the last column in a row will align to the opposite edge of the row.
$grid-column-align-edge: true;